<%= link_to "Encrypt/Decyrpt", mains_path, class: "home-button adjust-size", method: :get %>
<h1 class="center-header">Decryption</h1>


		<h3>
		<text class="input-color">
			<p>
			<%if(@not_empty_state && @content_size)%>
				<text id="highlighttext">Decrpyted Message:</text> <%= @unencrypted_message%>
			<%elsif (@not_empty_state)%>
				<text>Input values are not the same length. Please try again!</text>
			<%elsif(@content_size)%>
				<text>Input values are empty! Please try again!</text>
		<%end%>
			</p>
		</text>
		</h3>
