<%= link_to "Encrypt/Decyrpt", mains_path, class: "home-button adjust-size", method: :get %>
<h1 class="center-header">Decryption</h1>


		<h3>
		<text class="input-color">
			<p>
				<text>Decrpyted:</text> <%= @unencrypted_message%>
			</p>
		</text>
		</h3>
