
<h1 class="center-header" id="h1-formating">
	One Time Pad
</h1>

<h2 class="center-buttons">
	<%= link_to "Encrypt", encrypts_path, class: "home-button", method: :get %>
	<%= link_to "Decrypt", decrypts_path, class: "home-button", method: :get %>
</h2>
